.gradient-background {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #D91F4E, #FF854C);
}

.modal-dialog-glass {
  -fx-effect: dropshadow(three-pass-box, derive(cadetblue, -20%), 10, 0, 4, 4);
  -fx-background-color: derive(cadetblue, -20%);
  -fx-background-insets: 12;
  -fx-background-radius: 6;
}

.modal-dialog-content {
  -fx-padding: 20;
  -fx-spacing: 10;
  -fx-alignment: center;
  -fx-font-size: 20;
  -fx-background-color: linear-gradient(to bottom, derive(cadetblue, 20%), cadetblue);
  -fx-border-color: derive(cadetblue, -20%);
  -fx-border-width: 5;
  -fx-background-insets: 12;
  -fx-border-insets: 10;
  -fx-border-radius: 6;
  -fx-background-radius: 6;
}

.line-color {
    -fx-background-color: #000000;
    -fx-pref-height: 1px;
}

.container {
    -fx-background-color: rgba(255, 255, 255, 0.4);
    -fx-background-radius: 10;
}

.table-view {
    -fx-background-color:  linear-gradient(from 25% 25% to 100% 100%, #D91F4E, #FF854C);
    -fx-border-radius: 10; /* Rounded corners for the whole table */
    -fx-background-radius: 10; /* Rounded background */
}

.table-header-column {
    -fx-background-color: rgba(255, 255, 255, 0.4); /* Header background color */
    -fx-border-radius: 10 10 0 0; /* Rounded top corners */
}

.button {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #D91F4E, #FF854C);
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-background-radius: 5px; /* Rounded background */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 1); /* Shadow effect */
}

.button:hover {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #FF854C, #D91F4E); /* Reverse gradient on hover */
}

.button:pressed {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #B0163A, #E67E3D); /* Darker gradient when pressed */
}











